{% extends 'base.html' %} {% load static %} {% block content %}
<div class="sub-about">
  <br />
  <h2 style="text-align: center; color: #40513b">Why Choose BudgetPad?</h2>
  <hr />
  <br />
  <section class="services-area section" id="features">
    <div class="container">
      <div class="row justisfy-content-around">
        <div class="col-lg-4 col-12">
          <div class="info-text">
            <h4 class="main-title">Expense Tracking on the Go:</h4>
            <p class="des" style="text-align: justify">
              Managing your budget is not longer limited to your computer.
              BudgetPad offers a web app that allows you to track your expenses
              on any browser at go. Simply log into the website, riegister your
              details, set your budget and watch as your expenses is being
              tracked accuratly in real time. Stay connected to your finances
              wherever you are.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="info-text">
            <h4 class="main-title">Customizable Categories:</h4>
            <p class="des" style="text-align: justify">
              We understand that everyone's financial situation is unique.
              That's why BudgetPad lets you create personalized budget
              categories to suit your specific needs and spending habits.
              Whether 's groceries, entertainment, or debt payments, you can
              easily organize your expenses and gain valuable insights on your
              finance.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-12">
          <div class="info-text">
            <h4 class="main-title">Easy-to-Use Interface</h4>
            <p class="des" style="text-align: justify">
              At BudgetPad we prioritize simplicity. Our easy-to-use interface
              ensures that managing your money is a breeze. With its creative
              and intuitive design, you can effortlessly track your income,
              expenses, and savings goals. Stay in control of your finances with
              BudgetPad user-friendly app that puts financial management at your
              fingertips.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<br />

{% endblock %}
